<div class="row bs-wizard" style="border-bottom:0;">
	<div class="col-xs-3 bs-wizard-step complete">
		<div class="text-center bs-wizard-stepnum">Step 1</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="/domain_purchases/check_domain?point_to=<%= session['point_to']['record_value']%>" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center">Find available domain.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step complete">
		<div class="text-center bs-wizard-stepnum">Step 2</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="/domain_purchases/register_domain" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center">Register your domain.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
		<div class="text-center bs-wizard-stepnum">Step 3</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center">Confirm your information.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
		<div class="text-center bs-wizard-stepnum">Step 4</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center"> Payment & Complete</div>
	</div>
</div>

<div id="confirmForm">
	<%= form_tag("/domain_purchases/paypal", method: "post", :class=>"transparentForm") do %>
	<div class="row">
		<div class="col-xs-8 col-md-8">
			<h3>Owner Information</h3>
			<hr class="colorgraph">

			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					First Name:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['fname']%>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					Last Name:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['lname']%>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					Organization:
				</div>
				<div class="col-xs-9 col-md-9 right">
					Goto Classroom
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					Phone:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['phone']%>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					Fax:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['fax']%>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					Email:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['email']%>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					Address 1:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['sa1']%>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					Address 2:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['sa2']%>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					Country:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['cc']%>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					State:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['sp']%>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					City:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['city']%>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 left">
					Postal Code:
				</div>
				<div class="col-xs-9 col-md-9 right">
					<%= session['contact_info']['pc']%>
				</div>
			</div>

			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6">
				</div>
				<div class="col-xs-12 col-md-6"><button class="btn btn-success btn-block btn-lg">Confirm & Purchase</button></div>
			</div>
		</div>
		<div class="col-xs-4 col-md-4" id="summary">
			<h3>Summary</h3>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-5 left">
					Domain:
				</div>
				<div class="col-xs-8 col-sm-9 col-md-7 right">
					<a href="#">
						<% if session['domain'] %>
						<%= (session['domain']['name']+"."+session['domain']['type']).downcase %>
						<% end %>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-5 left">
					Term:
				</div>
				<div class="col-xs-8 col-sm-9 col-md-7 right">
					<div class="col-md-10" style="padding-left: 0px;">
						<% if session['order_item']['term'] == '1'
							term = 'year'
						else
							term = 'years'
							end %>
							<%= session['order_item']['term']%> <%= term%>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-5 left">
						Unit Price:
					</div>
					<div class="col-xs-8 col-sm-9 col-md-7 right">
						$<%= session['order_item']['unit_price']%>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-5 left">
						Sale Tax:
					</div>
					<div class="col-xs-8 col-sm-9 col-md-7 right">
						$<span><%= SALE_TAX%></span>
					</div>
				</div>
				<hr style="width: 80%">
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-5 left">
						Total:
					</div>
					<div class="col-xs-8 col-sm-9 col-md-7 right">
						$<%= session['order_item']['total_price']%>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-9 left">
						<input id="Test2" type="checkbox" name='contact[auto_renew]' disabled value="1" class='myClass2' <%= "checked" if session['order_item']['auto_renew'] == '1' %> />
						<label for="Test2">Auto Renew</label>
					</div>
				</div>
			</div>
		</div>
		<%end%>
	</div>

	<script>
	$(function(){
		$('input.myClass2').prettyCheckable({
			color: 'red'
		});
	})

	</script>