<div class="row bs-wizard" style="border-bottom:0;">
	<div class="col-xs-3 bs-wizard-step complete">
		<div class="text-center bs-wizard-stepnum">Step 1</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="index.html" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center">Find available domain.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step disabled">
		<div class="text-center bs-wizard-stepnum">Step 2</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="register.html" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center current">Register your domain.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
		<div class="text-center bs-wizard-stepnum">Step 3</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="confirm.html" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center">Confirm your information.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
		<div class="text-center bs-wizard-stepnum">Step 4</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="complete.html" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center"> Payment & Complete</div>
	</div>
</div>

<div id="registerForm">
	<form role="form" class="transparentForm">
		<div class="row">
			<div class="col-xs-8 col-md-8">
				<h3>Owner Information</h3>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input class="form-control input-lg required" name='contact[fname]' placeholder="First Name">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input class="form-control input-lg required" name='contact[lname]' placeholder="Last Name">
						</div>
					</div>
				</div>
				<div class="form-group">
					<input class="form-control input-lg" name='contact[org]' placeholder="Organization">
				</div>
				<div class="form-group">
					<input class="form-control input-lg required" name='contact[phone]' placeholder="Phone">
				</div>
				<div class="form-group">
					<input class="form-control input-lg" name='contact[fax]' placeholder="Fax">
				</div>
				<div class="form-group">
					<input type="email" class="form-control input-lg required email" name='contact[email]' placeholder="Email Address">
				</div>
				<div class="form-group">
					<input class="form-control input-lg required" name='contact[sa1]' placeholder="Address 1">
				</div>
				<div class="form-group">
					<input class="form-control input-lg" name='contact[sa2]' placeholder="Address 2">
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<%= select_tag :contact_country, options_for_select(@list_country,0), prompt: "Select your country", :name => "contact[cc]", :class => "form-control gSelect required" %>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group state-container">
							<%= select_tag :contact_state, options_for_select(@list_state,0), prompt: "Select your state", :name => "contact[sp]", :class => "form-control gSelect required" %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input class="form-control input-lg required" name='contact[city]' placeholder="City">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input class="form-control input-lg required" name='contact[pc]' placeholder="Postal Code">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="checkbox checkbox-error">
						<input id="Test1" type="checkbox" name='contact[agree]' class='myClass required'/>
						<label for="Test1">I agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.</label>
					</div>
				</div>
				<% if flash[:error].present? %>
				<div class="row">
					<div class="col-md-9 col-md-offset-3" style="color: red;">
						<%= simple_format(flash[:error]) %>
					</div>
				</div>
				<%end%>



				<!-- <div class="row">
					<div class="col-xs-4 col-sm-3 col-md-3">
						<span class="button-checkbox">
							<button type="button" class="btn btn-primary" data-toggle="button">I Agree</button>
							<input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
						</span>
					</div>
					<div class="col-xs-8 col-sm-9 col-md-9">
						By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
					</div>
				</div> -->

				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<!-- <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"> -->
					</div>
					<div class="col-xs-12 col-md-6"><a href="confirm.html" class="btn btn-success btn-block btn-lg">Continue</a></div>
				</div>
			</div>
			<div class="col-xs-4 col-md-4" id="summary">
				<h3>Summary</h3>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-5 left">
						Domain:
					</div>
					<div class="col-xs-8 col-sm-9 col-md-7 right">
						example.com
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-5 left">
						Term:
					</div>
					<div class="col-xs-8 col-sm-9 col-md-7 right">
						<div class="col-md-10" style="padding-left: 0px;">
							<select class="form-control">
								<option>1 year</option>
								<option>2 years</option>
								<option>3 years</option>
								<option>4 years</option>
								<option>5 years</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-5 left">
						Unit Price:
					</div>
					<div class="col-xs-8 col-sm-9 col-md-7 right">
						$10.00/year
					</div>
				</div>
				<hr style="width: 80%">
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-5 left">
						Total:
					</div>
					<div class="col-xs-8 col-sm-9 col-md-7 right">
						$10.00
					</div>
				</div>

			</div>
		</div>
	</form>
</div>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>


<style>
label.error{
	color: red;
}
.checkbox-error .error{
	display: block;
}
.g-inline{
	position: relative;
	top: 8px;
}

.gSelect{
	border-radius: 6px;
	font-size: 18px;
	height: 46px;
	line-height: 1.33;
}
</style>
<script>

var top_level_domain = "<%= session['domain']['type'] %>";
var sale_tax = "<%= SALE_TAX %>";

function getPriceDomain(top_level_domain, num_years) {
	path = '/get_price_domain'
	$.ajax({
		type: "GET",
		url: path,
		data: {
			top_level_domain: top_level_domain,
			num_years: num_years
		},
		success: function(response) {
			response = response.replace("$", "");
			$('#unit-price').html(response);
			$('#input-unit-price').val(response);
			var total_price = (parseFloat(response) + parseFloat(sale_tax)).toPrecision(4);
			$('#total-price').html(total_price);
			$('#input-total-price').val(total_price);
		},
		error: function() {
		}
	});
}

function getState(country) {
	path = '/get_state'
	$.ajax({
		type: "GET",
		url: path,
		data: {
			country: country
		},
		success: function(response) {
			$('.state-container').html(response);
		},
		error: function() {
		}
	});
}


$(function(){

	$('input.myClass').prettyCheckable({
		color: 'red'
	});

	$('#frm_register_domain').validate_popover({ popoverPosition: 'top' });
	$('#frm_register_domain').validate();

	getPriceDomain(top_level_domain, 1);


	$('#domain-term').change(function(){
		getPriceDomain(top_level_domain, $(this).val());
	});

	$('#contact_country').change(function(){
		$("#contact_state option").remove();
		getState($(this).val());
	});

})
</script>