<div class="row bs-wizard" style="border-bottom:0;">
	<div class="col-xs-3 bs-wizard-step complete">
		<div class="text-center bs-wizard-stepnum">Step 1</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="/domain_purchases/check_domain?point_to=<%= session['point_to']['record_value']%>" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center">Find available domain.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step disabled">
		<div class="text-center bs-wizard-stepnum">Step 2</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center current">Register your domain.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
		<div class="text-center bs-wizard-stepnum">Step 3</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center">Confirm your information.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
		<div class="text-center bs-wizard-stepnum">Step 4</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center"> Payment & Complete</div>
	</div>
</div>

<div id="registerForm">
	<%= form_tag("/domain_purchases/do_register_domain", method: "post", :class=>"transparentForm", :role=> 'form', :id=>'frm_register_domain') do %>
	<div class="row">
		<div class="col-xs-8 col-md-8">
			<h3>Owner Information</h3>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input class="form-control input-lg required" name='contact[fname]' placeholder="First Name">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input class="form-control input-lg required" name='contact[lname]' placeholder="Last Name">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input class="form-control input-lg" name='contact[org]' placeholder="Organization">
			</div>
			<div class="form-group">
				<input class="form-control input-lg required" name='contact[phone]' placeholder="Phone">
			</div>
			<div class="form-group">
				<input class="form-control input-lg" name='contact[fax]' placeholder="Fax">
			</div>
			<div class="form-group">
				<input type="email" class="form-control input-lg required email" name='contact[email]' placeholder="Email Address">
			</div>
			<div class="form-group">
				<input class="form-control input-lg required" name='contact[sa1]' placeholder="Address 1">
			</div>
			<div class="form-group">
				<input class="form-control input-lg" name='contact[sa2]' placeholder="Address 2">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<%= select_tag :contact_country, options_for_select(@list_country,0), prompt: "Select your country", :name => "contact[cc]", :class => "form-control gSelect required" %>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group state-container">
						<%= select_tag :contact_state, options_for_select(@list_state,0), prompt: "Select your state", :name => "contact[sp]", :class => "form-control gSelect required" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input class="form-control input-lg required" name='contact[city]' placeholder="City">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input class="form-control input-lg required" name='contact[pc]' placeholder="Postal Code">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="checkbox checkbox-error">
					<input id="chkAgree" type="checkbox" name='contact[agree]' class='myClass required'/>
					<label for="chkAgree">I agree to the Terms and Conditions set out by this site, including our Cookie Use.</label>
				</div>
			</div>
			<% if flash[:error].present? %>
			<div class="row">
				<div style="color: red; text-align: left;">
					<%= simple_format(flash[:error]) %>
				</div>
			</div>
			<%end%>

			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6">
				</div>
				<div class="col-xs-12 col-md-6"><button type="submit" class="btn btn-success btn-block btn-lg btn-summit" disabled="disabled">Continue</button></div>
			</div>
		</div>
		<div class="col-xs-4 col-md-4" id="summary">
			<h3>Summary</h3>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-5 left">
					Domain:
				</div>
				<div class="col-xs-8 col-sm-9 col-md-7 right">
					<a href="#">
						<% if session['domain'] %>
						<%= (session['domain']['name']+"."+session['domain']['type']).downcase %>
						<% end %>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-5 left">
					Term:
				</div>
				<div class="col-xs-8 col-sm-9 col-md-7 right">
					<div class="col-md-10" style="padding-left: 0px;">
						<select class="form-control" name='order[term]' id='domain-term'>
							<option value="1">1 year</option>
							<option value="2">2 years</option>
							<option value="3">3 years</option>
							<option value="4">4 years</option>
							<option value="5">5 years</option>
							<option value="6">6 years</option>
							<option value="7">7 years</option>
							<option value="8">8 years</option>
							<option value="9">9 years</option>
							<option value="10">10 years</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-5 left">
					Unit Price:
				</div>
				<div class="col-xs-8 col-sm-9 col-md-7 right">
					$<span id='unit-price'>undefined</span> <input id='input-unit-price' type="hidden" name='order[unit_price]' value="undefined">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-5 left">
					Sale Tax:
				</div>
				<div class="col-xs-8 col-sm-9 col-md-7 right">
					$<span><%= SALE_TAX%></span>
				</div>
			</div>
			<hr style="width: 80%">
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-5 left">
					Total:
				</div>
				<div class="col-xs-8 col-sm-9 col-md-7 right">
					$<span id='total-price'>undefined</span> <input id='input-total-price' type="hidden" name='order[total_price]' value="undefined">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-9 left">
					<input id="chkAutoRenew" type="checkbox" class='myClass2'/>
					<label for="chkAutoRenew">Auto Renew</label>
				</div>
				<input id='chk-auto-renew' type="hidden" name='order[auto_renew]' value="0">
			</div>
		</div>
	</div>
	<%end%>
</div>



<style>
label.error{
	color: red;
}
.checkbox-error .error{
	display: block;
}
.g-inline{
	position: relative;
	top: 8px;
}

.gSelect{
	border-radius: 6px;
	font-size: 18px;
	height: 46px;
	line-height: 1.33;
}
</style>
<script>

var top_level_domain = "<%= session['domain']['type'] %>";
var sale_tax = "<%= SALE_TAX %>";

function getPriceDomain(top_level_domain, num_years) {
	path = '/get_price_domain';
	$('.btn-summit').attr('disabled', 'disabled');
	$.ajax({
		type: "GET",
		url: path,
		data: {
			top_level_domain: top_level_domain,
			num_years: num_years
		},
		success: function(response) {
			response = response.replace("$", "");
			$('#unit-price').html(response);
			$('#input-unit-price').val(response);
			var total_price = (parseFloat(response) + parseFloat(sale_tax)).toPrecision(4);
			$('#total-price').html(total_price);
			$('#input-total-price').val(total_price);
			$('.btn-summit').removeAttr('disabled');
		},
		error: function() {
		}
	});
}

function getState(country) {
	path = '/get_state'
	$.ajax({
		type: "GET",
		url: path,
		data: {
			country: country
		},
		success: function(response) {
			$('.state-container').html(response);
		},
		error: function() {
		}
	});
}


$(function(){

	$('input.myClass').prettyCheckable({
		color: 'red'
	});

	$('input.myClass2').prettyCheckable({
		color: 'red'
	});

	$('#chkAgree').on('change', function(){
		if($(this).is(':checked')){
			$('.btn-summit').removeAttr('disabled');
		} else {
			$('.btn-summit').attr('disabled', 'disabled');
		}
	});

	$('#chkAutoRenew').on('change', function(){
		if($(this).is(':checked')){
			$('#chk-auto-renew').val(1);
		} else {
			$('#chk-auto-renew').val(0);
		}
	});

	//$('#frm_register_domain').validate_popover({ popoverPosition: 'top' });
	$('#frm_register_domain').validate();

	getPriceDomain(top_level_domain, 1);


	$('#domain-term').change(function(){
		getPriceDomain(top_level_domain, $(this).val());
	});

	$('#contact_country').change(function(){
		$("#contact_state option").remove();
		getState($(this).val());
	});

})
</script>